{% extends "base.jinja" %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title is-size-4">Contribution guide</h1>
      <p>Please help improve the content of this site. The preferred way to contribute or give feedback is:</p>
      <ul>
        <li>Open an <a href="https://github.com/Trilarion/opensourcegames/issues">issue at the Github page</a>.</li>
        <li>Fork the Github project and create a <a href="https://github.com/Trilarion/opensourcegames/pulls">pull request</a> (if you are familiar with that).</li>
        <li>Send an email to ...</li>
      </ul>
    </div>
    <div class="box">
      <div class="block">
        <h2 id="games">Improving games/frameworks/tools information</h2>
        <p>Entries for open source games, gaming engines and gaming tools are stored as human readable text version in a markdown format (<a href="">example</a>).
        For each entry, the database content can be seen when clicking on "Raw entry" below the entry. You can suggest corrections or updates to an entry or a list of entries in one of the following ways:</p>
      </div>
    </div>
    <div class="box">
      <div class="block">
        <h2 id="developers">Improving developers information</h2>
        <p>The developer information is stored in a single big file (<a href="">developer database</a>) and relates developers to open source games they have participated in. Additionally, developer profiles on GitHub, SourceForge or BitBucket are linked on
        a developer information and again on the game entries, in the developers field, all developers are listed. The relation between developers and games is stored twice to allow for both search directions, i.e. find all developers of a game or all games of a developer.
        A consistency check will run regularly on the content and will give precedence to the developer names stored in the games entries (the games list stored in the developer information will be overwritten).</p>
      </div>
    </div>
    <div class="box">
      <div class="block">
        <h2 id="inspirations">Improving inspirations information</h2>
      </div>
    </div>
  </div>
</section>
{% endblock %}