{% extends "base.jinja" %}

{% block content %}
  <section class="section">
    <div class="container">
    <h1 class="title">Developers ({{ letter.capitalize() }})</h1>
{% for developer in developers %}
<div class="box">
    <h2 id="{{ developer['anchor-id'] }}">{{ developer['Name'] }}</h2><br>
    {% set comma = joiner(", ") %}
    Game(s):{% for game in developer['Games'] %}{{ comma() }}<a href="{{ base['url_to'](game[0]) }}">{{ game[1] }}</a>{% endfor %}
</div>
{% endfor %}
    </div>
  </section>
{% endblock %}