{% extends "base.jinja" %}

{% block content %}
  <section class="section">
    <div class="container">
    <h1 class="title">{{ data['title'] }}</h1>
{% for g in data['games'] %}
<div class="box">
<nav class="level is-mobile">
<div class="level-left">
<h2 id="{{ g['anchor-id'] }}">{{ g['Title'] }}</h2>
</div>
<div class="level-right is-size-7">
<p class="level-item"><a href="{{ base['url_to']('contribute.html') }}">Edit</a></p>
</div>
</nav>

    {%- set comma = joiner(", ") -%}
    Home: {% for url in g['Home'] %}{{ comma() }}<a href="{{ url }}">{{ url }}</a>{% endfor %}<br>
    {% if 'Inspirations' in g %}
    {%- set comma = joiner(", ") -%}
    Inspirations: {% for inspiration in g['Inspirations']%}{{ comma() }}<a href="{{ base['url_to'](inspiration[0]) }}">{{ inspiration[1] }}</a>{% endfor %}<br>
    {% endif%}
    {%- set comma = joiner(", ") -%}
    {% if 'Media' in g %}Media: {% for url in g['Media'] %}{{ comma() }}<a href="{{ url }}">{{ url }}</a>{% endfor %}<br>{% endif%}
    {%- set comma = joiner(", ") -%}
    {% if 'Download' in g %}Download: {% for url in g['Download'] %}{{ comma() }}<a href="{{ url }}">{{ url }}</a>{% endfor %}<br>{% endif%}
    {%- set comma = joiner(", ") -%}
    {% if 'Play' in g %}Play: {% for url in g['Play'] %}{{ comma() }}<a href="{{ url }}">{{ url }}</a>{% endfor %}<br>{% endif%}
    {% if 'Developer' in g %}
    {%- set comma = joiner(", ") -%}
    Developer: {% for developer in g['Developer']%}{{ comma() }}<a href="{{ base['url_to'](developer[0]) }}">{{ developer[1] }}</a>{% endfor %}<br>{% endif%}
    {% if 'Note' in g %}{{ g['Note'] }}<br>{% endif%}
    Technical info<br>
    {%- set comma = joiner(", ") -%}
    Language: {% for language in g['Code language'] %}{{ comma() }}{{ language }}{% endfor %}<br>
    {%- set comma = joiner(", ") -%}
    License: {% for license in g['Code license'] %}{{ comma() }}{{ license }}{% endfor %}<br>
    {% if 'Build system' in g['Building'] %}Build system: <br>{% endif%}
</div>
{% endfor %}
    </div>
  </section>
{% endblock %}