{% extends "base.jinja" %}

{% block content %}
  <section class="hero is-light is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Open source games list (OSGL)</h1>
      <p class="subtitle">
        Contains information about {{ index['number_games'] }} open source games.
      </p>
    </div>
    </div>
  </section>
{% endblock %}