{% extends "base.jinja" %}
{% block content %}
  <section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container content">
      <h1 class="title">Open source games list (OSGL)</h1>
      <p class="subtitle">{{ macros.render_text(index['subtitle']) }}</p>
      <p>The content of this site is based on a collection of open source game descriptions stored on <a href="https://github.com/Trilarion/opensourcegames">Github</a>.
        The descriptions concentrate on technical and general aspects of the games. Lots of sorting options are available and a list of inspirations and developers is cross-referenced.
        This work is a best-effort based result and will surely contain inaccurate information.<br>
        Please help improve the content (see <a href="contribute.html">contribution guidelines</a>).
      </p>
      <figure class="image is-2by1">
        <img src="collage_games.jpg" alt="">
      </figure>
    </div>
    </div>
  </section>
{% endblock %}