{% extends "base.jinja" %}

{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title">
        Open source games list (OSGL)
      </h1>
      <p class="subtitle">
        Contains information about {{ index['number_games'] }} open source games.
      </p>
    </div>
  </section>
{% endblock %}