{% extends "base.jinja" %}
{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">{{ listing['title'] }}</h1>
{# iterate over items -#}
{% for item in listing['items'] %}
<div class="box">
  <div class="block">
    <h2 id="{{ item['anchor-id'] }}" class="title is-4">{{ item['name'] }}</h2>
    <div class="subtitle is-size-6">{{ macros.render_element(item['inspired']) }}</div>
    {%- if 'media' in item -%}{{ macros.render_element(item['media']) }}{%- endif -%}
  </div>
  <div class="block">
    <a href="{{ base['url_to'](['contribute.html#inspirations']) }}" title="Contribution guide" class="is-size-7">Improve</a>
  </div>
</div>
{% endfor %}
  <a class="is-light is-size-7" href="#">Back to top</a>
  </div>
</section>
{% endblock %}