{% extends "base.jinja" %}

{% block content %}
  <section class="section">
    <div class="container">
    <h1>{{ data['title'] }}</h1>
        <ul>
{% for item in data['items'] %}
        <li>{{ item }}</li>
{% endfor %}
        </ul>
    </div>
  </section>
{% endblock %}