{% extends "base.jinja" %}
{% block content %}
  <div class="container">
    <p class="title is-4">{{ listing['title'] }}</p>
                    {#- iterate over items, each one as a box-#}
    {%- for item in listing['items'] -%}
    <div id="{{ item['anchor-id'] }}" class="box">
      <div class="block">
        <p class="title is-4">{{ item['name'] }}</p>
        <p class="subtitle is-6">{{ macros.render_element(item['inspired']) }}</p>
        {%- if 'media' in item -%}{{ macros.render_element(item['media']) }}{%- endif -%}
      </div>
                    {#- improve link -#}
      <p class="is-size-7 has-text-right"><a href="{{ base['url_to'](['contribute.html#inspirations']) }}" title="Contribution guide">Improve</a></p>
    </div>
    {% endfor -%}
  <p class="is-size-7 has-text-right"><a href="#">Back to top</a></p>
  </div>
{% endblock %}