{% extends "base.jinja" %}
{% block content %}
  <div class="container">
    <p class="title is-4">{{ data['title'] }}</p>
{% set comma = joiner(",") %}
{% for section in data['sections'] %}
    {{ comma() }} <a href="#">{{ section['title'] }}</a>
{% endfor %}
    </div>
{% for section in data['sections'] %}
  <section class="section">
    <div class="container">
    <p id="" class="title is-4">{{ section['title'] }}</p>
    <ul>
    {% for item in section['items'] -%}
    <li>{{ item }}</li>
    {% endfor -%}
    </ul>
    </div>
  </section>
{% endfor %}
{% endblock %}